body {
  margin: 0;
  overflow: hidden;
  color: white !important;
  font-family: "IBM Plex Mono", monospace !important;
}

#video-background {
  position: fixed;
  right: 0;
  top: 56px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #ffffff;
}

.absolute-top-left {
  position: absolute;
  top: 60px;
  left: 33px;
  font-size: 52px;
}

.absolute-top-container {
  position: absolute;
  top: -75px;
  right: 391px;
  font-size: 52px;
}

nav {
  background-color: black;
}

.right-to-left {
  display: flex;
  flex-direction: column-reverse;
}

#navbarNav {
  display: flex;
  justify-content: end;
  padding-right: 33px;
}

.contenedor {
  position: fixed;
  border-radius: 50%;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  width: 600px;
  height: 600px;
  background-color: black;
}

.logo {
  transform: translate(40px, 38px);
}

.contenedor-txt {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(0, -50%);
  width: 1000px;
  height: 600px;
  background-color: black;
  padding: 100px;
  color: white;
}

.contenedorVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2000px;
  height: 300px;
}

#videito {
  width: 100%; 
  height: 100%;
}

.contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-1 {
  width: 100px;
  height: 400px;
  margin-right: 10px;
}

.imagen-12 {
  width: 100px;
  height: 400px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.imagen-12:hover {
  transform: scale(1.2);
}

.imagen-2 {
  width: 100px;
  height: 400px;
}